body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cce9eb;
  font-family: Arial, sans-serif;
}

.calculadora {
  background-color: rgb(158, 113, 113);
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  padding: 50px;
  width: 400px;
}

#pantalla {
  width: 95%;
  height: 60px;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #eee;
  border-radius: 5px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}
